/*..................................... fonts............................................. */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*........... common styles or utilities..........*/
body{
    font-family: 'Poppins', sans-serif;
}
p{
    margin-bottom: 40px;
}
h1{
    font-size: 52px;
    margin-bottom: 0px;
}
h3{
    font-size: 24px;
    margin-left: 170px;
}
h4{
    font-size: 20px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*............................ influencer styles...............................*/
.influencer{
    display: flex;
    margin-bottom: 100px;
}
.influencer-details{
    width: 582px;
    margin-right: 120px;
    text-align:justify;
}
.influencer img{
    width: 440px;
}
.link-button{
    text-decoration: none;
    background-color:#E02C6D;
    padding: 10px 20px;
    color: white;
    font-weight: 700px;
    border-radius: 40px;
}

/* ...........................collections styles............................ */
.popular-collection{
    text-align: center;
    margin-right: 190px;
    color: rgb(71, 62, 62);
}
.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-row-gap: 30px;
    grid-column-gap:30px;
    
}
.collection{
    width: 330px;
    height: 475px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 5px gray;
}
.collection-img{
    margin-left: 4px;
    width: 330px;
    border-radius: 5px;
    padding: 10px;
}
.collection-name{
   margin: 15px;
}
.collection-price{
    font-size: 24px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 400px;
}
.collection-detail{
    font-size: 14px;
    margin-top: 0;
}
.collection-info{
    padding: 15px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
/* .......................footer style ..............................*/
footer{
    margin-top: 100px;
    text-align: center;
    color: rgb(248, 248, 248);
    background-color: black;
    padding: 10px;
}
.footer-head{
    margin-bottom: 10px;
}
.footer-info{
    margin: 0;
}
.fab{
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}