/*..................................... fonts............................................. */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*............................. common styles or utilities..........................*/
body{
    font-family: 'Poppins', sans-serif;
}
p{
    margin-bottom: 40px;
}
h1{
    font-size: 52px;
    margin-bottom: 0px;
}
h3{
    font-size: 26px;
    color: teal;
    margin-left: 170px;
}
h4{
    font-size: 20px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*............................ influencer styles...............................*/
.influencer{
    display: flex;
    margin-bottom: 100px;
}
.influencer-details, .marketing-details{
    width: 582px;
    margin-right: 120px;
    text-align:justify;
}
.influencer img{
    width: 440px;
}
.link-button{
    text-decoration: none;
    background-color:#E02C6D;
    padding: 10px 20px;
    color: white;
    font-weight: 700px;
    border-radius: 40px;
}

/* ...........................collections styles............................ */
.popular-collection{
    text-align: center;
    margin-right: 190px;
    color: rgb(71, 62, 62);
}
.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-row-gap: 30px;
    grid-column-gap:30px;
    
}
.collection{
    width: 330px;
    height: 475px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 5px gray;
}
.collection-img{
    margin-left: 4px;
    width: 330px;
    border-radius: 5px;
    padding: 10px;
}
.collection:hover .collection-img{
    transform: scale(1.2);
    transition: transform 2s ease-out;
}
.collection-name{
   margin: 15px;
}
.collection-price{
    font-size: 24px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 400px;
}
.collection-detail{
    font-size: 14px;
    margin-top: 0;
}
.collection-info{
    padding: 15px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
/* ................................media style................................. */
.media-section{
    display: flex;
    margin-top: 100px;
    border: 1px solid slategrey;
}
.influencer-media{
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 0;
   padding-right: 10px;

}
.marketing-details{
    padding-left: 10px;
}
.marketing-info{
    margin-bottom: 0;
}
/* ................................footer style ...................................*/
footer{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 100px;
    text-align: center;
    color: rgb(248, 248, 248);
    background-color: black;
    padding: 10px;
}
.footer-head{
    margin-bottom: 10px;
}
.footer-info{
    margin: 0;
}
.fab{
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}
/*............................Mobile Devices.............................. */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .influencer-details, .influencer-img{
        width: 100%;
    }
    .marketing-details{
        width: 80%;
    }
    .influencer-media{
        width: 100%;
    }
    .popular-collection, .collections{
        grid-template-columns: repeat(1, 1fr);
    }
    .influencer, .collection, .media-section{
        flex-direction: column;
    }
}
/* ...........................Tablet devices.......................... */
@media only screen and (min-width:688px) and (max-width:992px){
.container{
    width: 100%;
}
.influencer-details, .influencer-img, .influencer-media{
    width: 100%;
}
.marketing-details{
    width: 90%;
}
.popular-collection, .collections, .media-section {
    grid-template-columns: repeat(2, 1fr);
}
.influencer, .collection, .media-section{
    flex-direction: column;
}
}